<head>
	<title>Pet App</title>
	<link href="https://fonts.googleapis.com/css?family=Skranji:700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://localhost:3000/css/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
</head>