<!DOCTYPE html>
<html>
<head>
	<% include ../views/partials/head.ejs %>
</head>
<body>
	<h1>New Pet</h1>
	<form action="/pet/create" method="POST">
		Name: <input type="text" name="name">
		Type: <input type="text" name="type">
		Color: <input type="text" name="color">
		Age: <input type="text" name="age">
		<button type="submit">Submit</button>
	</form>
	<h3><a href="/pet">Back</a></h3>
</body>
</html>